html, body, #root {
  height: 100%
}

.grid-aspect {
    /* From StackOverflow: https://stackoverflow.com/a/20593342/13956165 */

    --width-ratio: 7;
    --height-ratio: 4;

    width: 100vw; 
    height: calc(100vw * var(--height-ratio) / var(--width-ratio));
    max-height: 100vh;
    max-width: calc(100vh * var(--width-ratio) / var(--height-ratio));
    /* position: absolute; */
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}