html, body, #root {
  height: 100%
}

.grid-aspect {
    /* From StackOverflow: https://stackoverflow.com/a/20593342/13956165 */

    --width-ratio: 7;
    --height-ratio: 4;

    width: 100vw; 
    height: calc(100vw * var(--height-ratio) / var(--width-ratio));
    max-height: 100vh;
    max-width: calc(100vh * var(--width-ratio) / var(--height-ratio));
    /* position: absolute; */
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

.fixed-center {
  /* From StackOverflow: https://stackoverflow.com/a/25919090/13956165 */

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card {
  clip-path: inset(0 0 0 0 round 0.5rem);
}


.main {
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}


.sidebar {
  height: 100%;
  padding: 1rem;
  align-self: flex-start;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;
}